<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sarkiapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
				<key>dateExpires</key>
				<string>20.11.2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>101.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47A340DC44BDE16D445254FC94CEFB19B4446270</string>
						<key>dateExpires</key>
						<string>20.11.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67SUA59PAP</string>
						<key>name</key>
						<string>Muhammed Talha YILDIZ</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>67SUA59PAP.com.example.sarkiapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>67SUA59PAP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0b6e09ed-0b00-430f-9488-a2e8d6b664f2</string>
				<key>dateExpires</key>
				<string>20.11.2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.sarkiapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>67SUA59PAP</string>
				<key>name</key>
				<string>Muhammed Talha YILDIZ</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
